@use '../defines/mixins.scss';
@use '../defines/vars.scss';

.c-footer {
  align-items: center;
  background: rgb(var(--color-background));
  display: flex;
  height: var(--page-footer-height);
  padding-block: 4rem;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease;
  z-index: vars.$z-index-footer;
}

.c-footer__inner-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.c-footer__logo {
  @include mixins.focus-ring;

  --header-logo-color: var(--color-primary);
  --header-logo-color-opacity: 1;
  --header-logo-scale: 1;

  color: rgb(var(--header-logo-color), var(--header-logo-color-opacity));
  display: block;
  transition: color 0.3s ease;
  width: 2.5rem;

  &:hover {
    --header-logo-color-opacity: 0.5;
  }

  &:active {
    --header-logo-scale: 0.9;
  }

  svg {
    color: inherit;
    display: block;
    transform: scale3d(var(--header-logo-scale), var(--header-logo-scale), 1);
    transition: transform 0.3s ease;
    width: 100%;
  }
}

.c-footer__text {
  color: rgb(var(--color-primary), 0.5);
  font-weight: vars.$font-primary-weight-regular;
  font-size: .75rem;
}

.c-footer__nav-link {
  display: block;
}

.c-footer__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.c-footer__social {
  display: flex;
  gap: 1rem;
}

.c-footer__social-link {
  aspect-ratio: 1;
  background: rgb(var(--color-primary));
  display: block;
  border-radius: 50%;
  width: 3rem;
}