@use '../defines/functions';

.o-image {
  display: block;
  width: 100%;
  overflow: hidden;
}

.o-image--rounded {
  border-radius: functions.fluid-clamp(1rem, 2rem);
}

.o-image__image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
