@use '../defines/breakpoints';
@use '../defines/vars';

.o-text {
  --text-color: var(--color-primary);

  color: rgb(var(--text-color));
  margin: 0;
  padding: 0;
  transition: color 0.3s ease;

  a {
    border-bottom: 2px solid rgb(var(--text-color));
    color: rgb(var(--text-color));
    text-decoration: none;
    transition: border-color 0.3s ease, color 0.3s ease;

    &:hover {
      --text-color: var(--color-blue);
    }
  }
}

.o-text--body {
  font-size: 1.5rem;
  font-weight: vars.$font-primary-weight-regular;
  line-height: 1.5;
}

.o-text--caption {
  font-size: 0.75rem;
  font-weight: vars.$font-primary-weight-regular;
  line-height: 1.5;
}

.o-text--h1 {
  font-size: 2rem;
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoints.media-md-min {
    font-size: 3rem;
  }

  @include breakpoints.media-lg-min {
    font-size: 4rem;
  }
}

.o-text--subtitle {
  line-height: 1.25;
  font-size: 1.25rem;
  font-weight: vars.$font-primary-weight-medium;

  @include breakpoints.media-xs-min {
    font-size: 1.5rem;
  }

  @include breakpoints.media-lg-min {
    font-size: 2rem;
  }
}

.o-text--super {
  font-size: 2.5rem;
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoints.media-sm-min {
    font-size: 3.5rem;
  }

  @include breakpoints.media-md-min {
    font-size: 4rem;
  }

  @include breakpoints.media-lg-min {
    font-size: 4.5rem;
  }
}

