@use '../defines/breakpoints';
@use '../defines/functions';
@use '../defines/vars';

.o-text {
  --text-color: var(--color-primary);
  --text-color-alpha: 1;

  color: rgb(var(--text-color), var(--text-color-alpha));
  margin: 0;
  padding: 0;
  transition: color 0.3s ease;

  a {
    border-bottom: 2px solid rgb(var(--text-color));
    color: rgb(var(--text-color));
    font-style: italic;
    text-decoration: none;
    transition: border-color 0.3s ease, color 0.3s ease;

    &:hover {
      --text-color: var(--color-blue);
    }
  }
}

.o-text--body {
  font-size: 1rem;
  font-weight: vars.$font-primary-weight-regular;
  line-height: 1.5;
}

.o-text--caption {
  font-size: 0.75rem;
  font-weight: vars.$font-primary-weight-regular;
  line-height: 1.5;
}

.o-text--h1 {
  font-size: 2rem;
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoints.media-md-min {
    font-size: 3rem;
  }

  @include breakpoints.media-lg-min {
    font-size: 4rem;
  }
}

.o-text--overline {
  font-size: 1.25rem;
  font-weight: vars.$font-primary-weight-medium;
  line-height: 1;
  text-transform: uppercase;
}

.o-text--subtitle {
  line-height: 1.25;
  font-size: functions.fluid-clamp(1.25rem, 2.5rem);
  font-weight: vars.$font-primary-weight-regular;
}

.o-text--super {
  font-size: functions.fluid-clamp(2rem, 5rem);
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
}
