@use '../defines/vars';

.c-cursor {
  --cursor-size: 2;
  --cursor-x: 0;
  --cursor-y: 0;

  display: grid;
  height: calc(var(--cursor-size) * 1rem);
  left: 0;
  margin: calc(var(--cursor-size) * -0.5rem) 0 0 calc(var(--cursor-size) * -0.5rem);
  opacity: 0;
  place-content: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translate3d(calc(var(--cursor-x) * 1px), calc(var(--cursor-y) * 1px), 0);
  transition: opacity 0.3s ease;
  width: calc(var(--cursor-size) * 1rem);
  z-index: vars.$z-index-cursor;
}

.c-cursor--visible {
  opacity: 1;
}

.c-cursor__inner {
  --cursor-inner-scale: 0;
  --cursor-inner-size: var(--cursor-size);

  border: 2px solid currentcolor;
  border-radius: 50%;
  color: rgb(var(--color-primary));
  height: calc(var(--cursor-inner-size) * 1rem);
  opacity: 0.1;
  transform: scale3d(var(--cursor-inner-scale), var(--cursor-inner-scale), 1);
  transition: all 0.3s ease;
  width: calc(var(--cursor-inner-size) * 1rem);

  .c-cursor--visible & {
    --cursor-inner-scale: 1;
  }

  .c-cursor--hovering & {
    --cursor-inner-size: 4;

    background-color: rgb(var(--color-primary));
  }

  .c-cursor--clicking & {
    --cursor-inner-size: 3;
  }

  &::before {
    background: rgb(var(--color-primary));
    border-radius: 50%;
    content: '';
    height: calc(var(--cursor-size) * 0.25rem);
    inset: 0;
    margin: auto;
    position: absolute;
    width: calc(var(--cursor-size) * 0.25rem);
  }
}
