@use '../defines/mixins';
@use '../defines/vars';

.c-footer {
  align-items: center;
  background: rgb(var(--color-background));
  display: flex;
  height: var(--page-footer-height);
  padding-block: 4rem;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease;
  z-index: vars.$z-index-footer;
}

.c-footer__inner-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.c-footer__logo {
  width: 2.5rem;
}

.c-footer__text {
  color: rgb(var(--color-primary), 0.5);
}

.c-footer__nav-link {
  display: block;
}

.c-footer__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.c-footer__social {
  display: flex;
  gap: 1rem;
}

.c-footer__social-link {}
