@use '../defines/mixins';
@use '../defines/vars';

.c-footer {
  align-items: center;
  background: rgb(var(--color-background));
  display: flex;
  height: var(--page-footer-height);
  padding-block: 4rem;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease;
  z-index: vars.$z-index-footer;
}

.c-footer__inner-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.c-footer__logo {
  @include mixins.focus-ring;

  --footer-logo-color: var(--color-primary);
  --footer-logo-color-opacity: 1;
  --footer-logo-scale: 1;

  color: rgb(var(--header-logo-color), var(--header-logo-color-opacity));
  transition: color 0.3s ease, transform 0.3s ease;
  transform: scale3d(var(--header-logo-scale), var(--header-logo-scale), 1);
  width: 2.5rem;

  &:active {
    --header-logo-scale: 0.9;
  }

  &:hover {
    --header-logo-color-opacity: 0.5;
  }
}

.c-footer__text {
  color: rgb(var(--color-primary), 0.5);
}

.c-footer__nav-link {
  display: block;
}

.c-footer__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.c-footer__social {
  display: flex;
  gap: 1rem;
}

.c-footer__social-link {}
