.c-trigger {
  height: 1px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.c-trigger--nav {
  top: var(--page-nav-position-top);
}

.c-trigger--top-of-page {
  top: 0;
}
