@use '../defines/vars';

.l-container {
  width: 100%;
}

.l-container__inner {
  margin-inline: auto;
  max-width: calc(vars.$width-content-max + var(--page-gutter) * 2);
  padding-inline: var(--page-gutter);
  width: 100%;

  .l-container--full & {
    max-width: 100%;
  }

  .l-container--none & {
    max-width: 100%;
    padding-inline: 0;
  }
}
