@use '../defines/spacing';
@use '../defines/typography';
@use '../defines/vars';

.l-wysiwyg {
  @include typography.body;

  // Reset
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  ul {
    margin: 0;
    transition: color 0.3s ease;
  }

  // Typography
  h1 {
    color: red;
  }

  h2 {
    @include typography.h3;
  }

  h3 {
    @include typography.h5;
  }

  h4 {
    @include typography.h6;
  }

  h5 {
    @include typography.body;

    font-weight: vars.$font-primary-weight-bold;
  }

  h6 {
    @include typography.overline;
  }

  // Spacing

  // -- h2
  h2 + h2 {
    margin-top: spacing.$content-4;
  }

  h2 + h3 {
    margin-top: spacing.$content-4;
  }

  h2 + h4 {
    margin-top: spacing.$content-4;
  }

  h2 + h5 {
    margin-top: spacing.$content-4;
  }

  h2 + h6 {
    margin-top: spacing.$content-4;
  }

  h2 + ol {
    margin-top: spacing.$content-4;
  }

  h2 + p {
    margin-top: spacing.$content-4;
  }

  h2 + ul {
    margin-top: spacing.$content-4;
  }

  // -- h3
  h3 + h2 {
    margin-top: spacing.$content-4;
  }

  h3 + h3 {
    margin-top: spacing.$content-4;
  }

  h3 + h4 {
    margin-top: spacing.$content-4;
  }

  h3 + h5 {
    margin-top: spacing.$content-4;
  }

  h3 + h6 {
    margin-top: spacing.$content-4;
  }

  h3 + ol {
    margin-top: spacing.$content-4;
  }

  h3 + p {
    margin-top: spacing.$content-4;
  }

  h3 + ul {
    margin-top: spacing.$content-4;
  }

  // -- h4
  h4 + h2 {
    margin-top: spacing.$content-4;
  }

  h4 + h3 {
    margin-top: spacing.$content-4;
  }

  h4 + h4 {
    margin-top: spacing.$content-4;
  }

  h4 + h5 {
    margin-top: spacing.$content-4;
  }

  h4 + h6 {
    margin-top: spacing.$content-4;
  }

  h4 + ol {
    margin-top: spacing.$content-4;
  }

  h4 + p {
    margin-top: spacing.$content-4;
  }

  h4 + ul {
    margin-top: spacing.$content-4;
  }

  // -- h5
  h5 + h2 {
    margin-top: spacing.$content-4;
  }

  h5 + h3 {
    margin-top: spacing.$content-4;
  }

  h5 + h4 {
    margin-top: spacing.$content-4;
  }

  h5 + h5 {
    margin-top: spacing.$content-4;
  }

  h5 + h6 {
    margin-top: spacing.$content-4;
  }

  h5 + ol {
    margin-top: spacing.$content-4;
  }

  h5 + p {
    margin-top: spacing.$content-4;
  }

  h5 + ul {
    margin-top: spacing.$content-4;
  }

  // -- h6
  h6 + h2 {
    margin-top: spacing.$content-4;
  }

  h6 + h3 {
    margin-top: spacing.$content-4;
  }

  h6 + h4 {
    margin-top: spacing.$content-4;
  }

  h6 + h5 {
    margin-top: spacing.$content-4;
  }

  h6 + h6 {
    margin-top: spacing.$content-4;
  }

  h6 + ol {
    margin-top: spacing.$content-4;
  }

  h6 + p {
    margin-top: spacing.$content-4;
  }

  h6 + ul {
    margin-top: spacing.$content-4;
  }

  // -- ol
  ol + h2 {
    margin-top: spacing.$content-4;
  }

  ol + h3 {
    margin-top: spacing.$content-4;
  }

  ol + h4 {
    margin-top: spacing.$content-4;
  }

  ol + h5 {
    margin-top: spacing.$content-4;
  }

  ol + h6 {
    margin-top: spacing.$content-4;
  }

  ol + ol {
    margin-top: spacing.$content-2;
  }

  ol + p {
    margin-top: spacing.$content-2;
  }

  ol + ul {
    margin-top: spacing.$content-2;
  }

  // -- p
  p + h2 {
    margin-top: spacing.$content-4;
  }

  p + h3 {
    margin-top: spacing.$content-4;
  }

  p + h4 {
    margin-top: spacing.$content-4;
  }

  p + h5 {
    margin-top: spacing.$content-4;
  }

  p + h6 {
    margin-top: spacing.$content-4;
  }

  p + ol {
    margin-top: spacing.$content-2;
  }

  p + p {
    margin-top: spacing.$content-2;
  }

  p + ul {
    margin-top: spacing.$content-2;
  }

  // -- ul
  ul + h2 {
    margin-top: spacing.$content-4;
  }

  ul + h3 {
    margin-top: spacing.$content-4;
  }

  ul + h4 {
    margin-top: spacing.$content-4;
  }

  ul + h5 {
    margin-top: spacing.$content-4;
  }

  ul + h6 {
    margin-top: spacing.$content-4;
  }

  ul + ol {
    margin-top: spacing.$content-2;
  }

  ul + p {
    margin-top: spacing.$content-2;
  }

  ul + ul {
    margin-top: spacing.$content-2;
  }
}
