// Abstracts
@use '../abstracts/all' as *;

// Grid
$grid: '.grid';

/* Row (Default */
#{$grid}__row {
	display: flex;
	flex-wrap: wrap;

	// Item
	> * {
		flex-shrink: 0;
		max-width: 100%;
		width: 100%;
	}

	// Columns
	> .col {
		flex: 1 0 0%;
	}

	// Generate Columns (Parent)
	@include colsParent;

	// Generate Columns (Children)
	@include colsChildren;

	// Gap
	&.gap {
		// Small
		&--sm {
			margin-bottom: calc(-2 * var(--doc-spacing));
			margin-left: calc(-0.5 * var(--doc-spacing));
			margin-right: calc(-0.5 * var(--doc-spacing));

			// Item
			> * {
				margin-bottom: calc(2 * var(--doc-spacing));
				padding-left: calc(0.5 * var(--doc-spacing));
				padding-right: calc(0.5 * var(--doc-spacing));
			}
		}

		// Medium
		&--md {
			margin-bottom: calc(-3 * var(--doc-spacing));
			margin-left: calc(-1 * var(--doc-spacing));
			margin-right: calc(-1 * var(--doc-spacing));

			// Item
			> * {
				margin-bottom: calc(3 * var(--doc-spacing));
				padding-left: var(--doc-spacing);
				padding-right: var(--doc-spacing);
			}
		}

		// Large
		&--lg {
			margin-bottom: calc(-4 * var(--doc-spacing));
			margin-left: calc(-2 * var(--doc-spacing));
			margin-right: calc(-2 * var(--doc-spacing));

			// Item
			> * {
				margin-bottom: calc(4 * var(--doc-spacing));
				padding-left: calc(2 * var(--doc-spacing));
				padding-right: calc(2 * var(--doc-spacing));
			}
		}

		// Work
		&--work {
			margin-bottom: calc(-1.875 * var(--doc-spacing));
			margin-left: calc(-0.9375 * var(--doc-spacing));
			margin-right: calc(-0.9375 * var(--doc-spacing));

			// Item
			> * {
				margin-bottom: calc(1.875 * var(--doc-spacing));
				padding-left: calc(0.9375 * var(--doc-spacing));
				padding-right: calc(0.9375 * var(--doc-spacing));
			}
		}
	}
}
