// Abstracts
@use '../abstracts/all' as *;

// Block Image
.block__image {
	display: block;
	position: relative;
	text-decoration: none;
	z-index: 0;
}

/* Anchor */
.image__anchor {
	display: block;
	text-decoration: none;
}

/* Cover */
.image__cover {
	display: block;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

/* Fluid */
.image__fluid {
	width: 100%;
}

// Avatar Image
.avatar__image {
	// Background
	&::before,
	&::after {
		border-radius: 50%;
		content: '';
		position: absolute;
		transform: translate(10%, 10%);
	}

	// Gradient
	&::before {
		background: linear-gradient(90deg, $accent, $primary);
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		z-index: -10;
	}

	// Overlay
	&::after {
		background: $dark;
		height: calc(100% - 8px);
		left: 4px;
		top: 4px;
		width: calc(100% - 8px);
		z-index: -5;
	}

	//

	// Image
	img {
		border-radius: 50%;
	}
}
