// Abstracts
@use '../abstracts/all' as *;

// Block Image
.block__image {
	display: block;
	position: relative;
	text-decoration: none;
	z-index: 0;
}

/* Anchor */
.image__anchor {
	display: block;
	text-decoration: none;
}

/* Cover */
.image__cover {
	display: block;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

/* Fluid */
.image__fluid {
	width: 100%;
}

// Avatar Image
.avatar__image {
	// Background
	&::before,
	&::after {
		@include transition('transform');
		backface-visibility: hidden;
		border: 2px solid transparent;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -10;
	}

	// Accent
	&::before {
		border-color: $accent;
		transform: translate(-5%, -5%);
	}

	// Primary
	&::after {
		border-color: $primary;
		transform: translate(5%, 5%);
	}

	// Mobile
	&--mobile {
		float: right;
		margin-bottom: 2em;
		margin-left: 2em;

		// Width
		@media (min-width: 45.01em) {
			display: none !important;
		}
		@media (min-width: 30.01em) {
			max-width: 10rem;
		}
		@media (max-width: 30em) {
			max-width: 7.5rem;
		}
	}
}
