// Abstracts
@use '../abstracts/all' as *;

// List
$list: '.list';

/* List Reset */
[class^='list__'],
[class*=' list__'] {
	letter-spacing: 0.02em;
	line-height: 1.5;
	list-style: none;

	// Spacing
	&,
	> * {
		display: block;
		margin: 0;
		padding: 0;
	}

	// Item
	> * {
		position: relative;
		z-index: 0;

		// Icon
		&::before {
			content: '';
			display: block;
			left: 0;
			position: absolute;
		}
	}
}

/* Check */
#{$list}__check {
	// Item
	> * {
		padding-left: 1.75em;

		// Margin
		+ * {
			margin-top: 0.25em;
		}

		// Icon
		&::before {
			background: url('./assets/img/icons/rust/checklist.svg') center no-repeat;
			background-size: contain;
			height: 0.75em;
			top: 0.375em;
			width: 1em;
		}
	}
}
