// Abstracts
@use '../abstracts/all' as *;

// Page Loader
.page__loader {
	@include transition('opacity', 'visibility');
	align-items: center;
	background: $dark;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	visibility: visible;
	width: 100%;
	z-index: 100;

	// Not Loading
	@at-root body:not(.is-loading) & {
		opacity: 0;
		overflow: hidden;
		visibility: hidden;

		// Loader Icon
		.loader__icon {
			animation-play-state: paused;
		}
	}
}

// Loader Icon
.loader__icon {
	animation: loaderIcon 2s infinite;
	transform: rotate(0deg);

	// Size
	@media (min-width: 60.01em) {
		width: 8rem;
	}
	@media (max-width: 60em) and (min-width: 30.01em) {
		width: 6rem;
	}
	@media (max-width: 30em) {
		width: 4rem;
	}
}
@keyframes loaderIcon {
	0% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
