// Abstracts
@use '../abstracts/all' as *;

/* Site Logo */
%site-logo {
	aspect-ratio: 40 / 19;
	max-width: 100%;
	object-fit: contain;
}
#{$project}-logo {
	// Medium
	&--md {
		@extend %site-logo;

		// Width
		@media (min-width: 75.01em) {
			width: 17.5rem;
		}
		@media (max-width: 75em) and (min-width: 60.01em) {
			width: 15rem;
		}
		@media (max-width: 60em) and (min-width: 30.01em) {
			width: 10rem;
		}
		@media (max-width: 30em) {
			width: 7.5rem;
		}
	}

	// Large
	&--lg {
		@extend %site-logo;

		// Width
		@media (min-width: 90.01em) {
			width: 20rem;
		}
		@media (max-width: 90em) and (min-width: 75.01em) {
			width: 17.5rem;
		}
		@media (max-width: 75em) and (min-width: 60.01em) {
			width: 15rem;
		}
		@media (max-width: 60em) and (min-width: 30.01em) {
			width: 12.5rem;
		}
		@media (max-width: 30em) {
			width: 10rem;
		}
	}
}
