// Abstracts
@use '../abstracts/all' as *;

// Slider Wrapper
.slider-wrapper {
	overflow: hidden;
}

// Slider Gallery
.slider-gallery {
	// Main
	&-main {
		// Swiper
		.swiper {
			margin-left: calc(-0.625 * var(--doc-spacing));
			margin-right: calc(-0.625 * var(--doc-spacing));

			// Slide
			&-slide {
				padding-left: calc(0.625 * var(--doc-spacing));
				padding-right: calc(0.625 * var(--doc-spacing));
			}
		}

		// Gallery Tile
		.gallery-tile {
			// Height
			&::before {
				padding-bottom: 86.66666666666667%;
			}
		}
	}

	// Thumbs
	&-thumbs {
		margin-top: calc(1.25 * var(--doc-spacing));

		// Swiper
		.swiper {
			margin-left: calc(-0.625 * var(--doc-spacing));
			margin-right: calc(-0.625 * var(--doc-spacing));

			// Slide
			&-slide {
				@include transition('opacity');
				opacity: 0.5;
				padding-left: calc(0.625 * var(--doc-spacing));
				padding-right: calc(0.625 * var(--doc-spacing));
				width: 25%;

				// Opacity
				&:hover,
				&.swiper-slide-thumb-active {
					opacity: 1;
				}
			}
		}

		// Gallery Tile
		.gallery-tile {
			cursor: pointer;

			// Height
			&::before {
				padding-bottom: 74.07407407407407%;
			}
		}
	}
}
