$breakpoints: ('base', 'md', 'lg');
$directions: (
  'a': 'all',
  'x': 'inline',
  'y': 'block',
  't': 'top',
  'b': 'bottom',
  'l': 'left',
  'r': 'right',
);
$properties: (
  'm': 'margin',
  'p': 'padding',
);

@each $breakpoint in $breakpoints {
  @each $directionKey, $direction in $directions {
    @each $propertyKey, $property in $properties {
      @for $i from 1 through 24 {
        $className: 'u-' + $propertyKey + if($direction == 'all', '', $directionKey) + '-' + $i;
        $propertyName: if($direction == 'all', $property, $property + '-' + $direction);

        @if ($breakpoint != 'base') {
          $className: $breakpoint + '\\:' + $className;
        }

        .#{$className} {
          #{$propertyName}: #{$i * 0.25}rem;
        }
      }
    }
  }
}
