@use './functions';

$content-1: functions.fluid-clamp(0.25rem, 0.5rem);
$content-2: functions.fluid-clamp(0.5rem, 1rem);
$content-3: functions.fluid-clamp(0.75rem, 1.5rem);
$content-4: functions.fluid-clamp(1rem, 2rem); // default
$content-5: functions.fluid-clamp(1.25rem, 2.5rem);
$content-6: functions.fluid-clamp(1.5rem, 3rem);
$content-7: functions.fluid-clamp(1.75rem, 3.5rem);
$content-8: functions.fluid-clamp(2rem, 4rem);
$content-9: functions.fluid-clamp(2.25rem, 4.5rem);
$content-10: functions.fluid-clamp(2.5rem, 5rem);
$content-11: functions.fluid-clamp(2.75rem, 5.5rem);
$content-12: functions.fluid-clamp(3rem, 6rem);
