@use 'sass:map';
@use './functions';

$options: (
  block: (
    sm: functions.fluid-clamp(2rem, 4rem),
    md: functions.fluid-clamp(3rem, 6rem),
    lg: functions.fluid-clamp(4rem, 8rem),
  ),
  content: (
    1: functions.fluid-clamp(0.25rem, 0.5rem),
    2: functions.fluid-clamp(0.5rem, 1rem),
    3: functions.fluid-clamp(0.75rem, 1.5rem),
    4: functions.fluid-clamp(1rem, 2rem), // default
    5: functions.fluid-clamp(1.25rem, 2.5rem),
    6: functions.fluid-clamp(1.5rem, 3rem),
    7: functions.fluid-clamp(1.75rem, 3.5rem),
    8: functions.fluid-clamp(2rem, 4rem),
    9: functions.fluid-clamp(2.25rem, 4.5rem),
    10: functions.fluid-clamp(2.5rem, 5rem),
    11: functions.fluid-clamp(2.75rem, 5.5rem),
    12: functions.fluid-clamp(3rem, 6rem),
  )
);

$content : map.get($options, 'content');
