@use './functions';
@use './vars';

@mixin body {
  font-size: 1rem;
  font-weight: vars.$font-primary-weight-regular;
  line-height: 1.5;
}

@mixin body-lg {
  font-size: 1.125rem;
  font-weight: vars.$font-primary-weight-regular;
  line-height: 1.5;
}

@mixin caption {
  font-size: 0.75rem;
  font-weight: vars.$font-primary-weight-regular;
  line-height: 1.5;
}

@mixin h1 {
  font-size: functions.fluid-clamp(2.5rem, 5rem);
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
}

@mixin h2 {
  font-size: functions.fluid-clamp(2rem, 4rem);
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
}

@mixin h3 {
  font-size: functions.fluid-clamp(1.75rem, 3.5rem);
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
}

@mixin h4 {
  font-size: functions.fluid-clamp(1.5rem, 3rem);
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
}

@mixin h5 {
  font-size: functions.fluid-clamp(1.25rem, 2.5rem);
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
}

@mixin h6 {
  font-size: functions.fluid-clamp(1rem, 2rem);
  font-weight: vars.$font-primary-weight-bold;
  line-height: 1;
}

@mixin overline {
  font-size: 1.25rem;
  font-weight: vars.$font-primary-weight-medium;
  line-height: 1;
  text-transform: uppercase;
}

@mixin subtitle {
  font-size: functions.fluid-clamp(1rem, 2rem);
  line-height: 1.25;
}

@mixin title {
  font-size: functions.fluid-clamp(1.25rem, 2.5rem);
  font-weight: vars.$font-primary-weight-regular;
  line-height: 1.25;
}
