$font-primary: 'Noto Sans', serif;
$font-primary-weight-light: 300;
$font-primary-weight-regular: 400;
$font-primary-weight-medium: 500;
$font-primary-weight-semibold: 600;
$font-primary-weight-bold: 700;
$font-primary-weight-extrabold: 800;
$font-primary-weight-black: 900;

$rem-value: 16px;

$width-content-min: 23.4375rem;
$width-content-max: 67.5rem;

$z-index-body-background: 1;
$z-index-body-frame: 3;
$z-index-body-loader: 2;
$z-index-cursor: 7;
$z-index-header: 5;
$z-index-nav: 6;
$z-index-footer: 4;
