// Abstracts
@use '../abstracts/all' as *;

// Plugins
@use 'sass:color';

// Page Wrapper
.page__wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

// Site Main
.site__main {
	flex: 1 1 auto;

	// Section
	:where(section) {
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
		z-index: 0;

		&:not(.lg__intro) {
			padding-top: calc(2 * var(--header-size));
			margin-top: calc(4 * var(--doc-spacing));
		}
	}
}

// Project
#{$project} {
	// Intro
	&__intro {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - var(--header-size));
		justify-content: center;
	}
}

// Block Accordion
.block__accordion {
	display: flex;

	// Item
	> * {
		flex: 1 1 auto;
	}

	// Nav
	> .accordion__nav {
		flex: 0 0 auto;
		width: 15rem;
		margin-right: var(--doc-padding);
	}
}

// Accordion
.accordion {
	// Nav
	&__nav {
		// Item
		&__item {
			border-left: 2px solid rgba($white, 25%);
		}

		// Button
		&__button {
			position: relative;
			font-size: 1rem;
			font-weight: 400;
			padding: 0.75em 1.25em;

			// Border
			&::before {
				position: absolute;
				top: 0;
				right: 100%;
				width: 2px;
				height: 100%;
				background: $accent;
			}

			// Active
			&.is-active {
				font-weight: 500;

				// Border
				&::before {
					content: '';
					display: block;
				}
			}
		}
	}

	// Content
	&__content {
		display: none;
	}
}
