// Abstracts
@use '../abstracts/all' as *;

// Plugins
@use 'sass:color';

// Page Wrapper
.page__wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

// Site Main
.site__main {
	flex: 1 1 auto;

	// Section
	:where(section) {
		display: block;
		overflow: hidden;
		padding-top: calc(4 * var(--doc-spacing) + var(--header-size));
		position: relative;
		width: 100%;
		z-index: 0;
	}
}

// Project
#{$project} {
	// Intro
	&__intro {
		display: flex;
		flex-direction: column;
		justify-content: center;

		// Copy
		.tp__copy {
			// Font Size
			@media (min-width: 60.01em) {
				font-size: 1.125rem;
			}
			@media (max-width: 60em) and (min-width: 30.01em) {
				font-size: 1.125rem;
			}
			@media (max-width: 30em) {
				font-size: 1rem;
			}
		}

		// Desktop
		@media (min-width: 60.01em) {
			min-height: 100vh;
		}
	}
}

// Block Accordion
.block__accordion {
	// Desktop
	@media (min-width: 60.01em) {
		display: flex;

		// Item
		> * {
			flex: 1 1 auto;
		}

		// Nav
		> .accordion__nav {
			flex: 0 0 auto;
			margin-right: var(--doc-padding);
			width: 15rem;
		}
	}

	// Mobile
	@media (max-width: 60em) {
		> * + * {
			margin-top: calc(4 * var(--doc-spacing));
		}
	}
}

// Accordion
.accordion {
	// Nav
	&__nav {
		@media (max-width: 60em) {
			border-bottom: 2px solid rgba($accent, 25%);
			display: flex;
		}

		// Item
		&__item {
			flex: 1 1 auto;

			// Desktop
			@media (min-width: 60.01em) {
				border-left: 2px solid rgba($accent, 25%);
			}
		}

		// Button
		&__button {
			@include transition('background-color', 'color');
			color: rgba($light, 50%);
			display: inline-flex;
			font-weight: 400;
			padding-bottom: 0.75em;
			padding-top: 0.75em;
			position: relative;
			vertical-align: top;

			// Mobile
			@media (max-width: 60em) {
				justify-content: center;
				width: 100%;
			}

			// Font Size
			@media (min-width: 60.01em) {
				font-size: 1rem;
			}
			@media (max-width: 60em) and (min-width: 30.01em) {
				font-size: 0.9375rem;
			}
			@media (max-width: 30em) {
				font-size: 0.875rem;
			}

			// Padding
			@media (min-width: 60.01em) {
				padding-left: 1.25em;
				padding-right: 1.25em;
			}

			// Border
			&::before {
				background: $accent;
				position: absolute;

				// Desktop
				@media (min-width: 60.01em) {
					height: 100%;
					right: 100%;
					top: 0;
					width: 2px;
				}

				// Mobile
				@media (max-width: 60em) {
					height: 2px;
					left: 0;
					top: 100%;
					width: 100%;
				}
			}

			// Active
			&.is-active {
				color: $fontcolor;

				// Border
				&::before {
					content: '';
					display: block;
				}
			}

			// Hover
			&:hover {
				@media (min-width: 60.01em) {
					background-color: rgba($accent, 10%);
					color: $light;
				}
			}
		}
	}

	// Content
	&__content {
		display: none;

		// Active
		&.is-active {
			display: block;
		}
	}
}

// Work
.work {
	// Card
	&__card {
		background: $light;
		display: block;
		overflow: hidden;
		padding-bottom: 80%;
		position: relative;
		text-decoration: none;
		z-index: 0;

		// Overlay
		&__overlay {
			align-items: center;
			background: rgba($dark, 90%);
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;

			// Button
			.button {
				height: auto;
				width: auto;
			}
		}

		@include unify-parent(a) {
			img {
				@include transition('transform');
				backface-visibility: hidden;
				transform: scale3d(1, 1, 1);
			}

			// Overlay
			.work__card__overlay {
				@include transition('opacity', 'visbility');
				opacity: 0;
				visibility: hidden;
			}

			// Hover
			&:hover {
				img {
					transform: scale3d(1.05, 1.05, 1.05);
				}

				// Overlay
				.work__card__overlay {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
