// Abstracts
@use '../abstracts/all' as *;

// Plugins
@use 'sass:color';

// Site Header
.site__header {
	flex: 0 0 auto;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 90;

	// Padding
	@media (min-width: 60.01em) {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}
	@media (max-width: 60em) and (min-width: 30.01em) {
		padding-bottom: 1.375rem;
		padding-top: 1.375rem;
	}
	@media (max-width: 30em) {
		padding-bottom: 1.25rem;
		padding-top: 1.25rem;
	}

	// Background
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(0.5rem);
		background: rgba($dark, 75%);
	}
}
