@use '../defines/mixins';
@use '../defines/vars';

.o-button {
  @include mixins.focus-ring;

  --button-background-color: transparent;
  --button-background-color-alpha: 1;
  --button-border-color: transparent;
  --button-border-width: 0;
  --button-color: rgb(var(--color-primary));
  --button-scale: 1;

  --button-background: rgb(var(--button-background-color), var(--button-background-color-alpha));

  align-items: center;
  background: var(--button-background);
  background: none;
  border: var(--button-border-width) solid var(--button-border-color);
  color: var(--button-color);
  display: flex;
  font-weight: vars.$font-primary-weight-bold;
  gap: 0.5rem;
  isolation: isolate;
  justify-content: center;
  position: relative;
  text-decoration: none;
  width: fit-content;
}

.o-button--full {
  width: 100%;
}

.o-button--solid {
  --button-background-color: var(--color-blue);
  --button-color: rgb(var(--color-background));

  background: none;
  border-radius: 1.5rem;
  padding: 0.75rem 2rem;
  transition: color 0.3s ease;

  &::before {
    background: var(--button-background);
    border-radius: inherit;
    content: '';
    inset: 0;
    position: absolute;
    transform: scale3d(var(--button-scale), var(--button-scale), 1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: -1;
  }

  &:active {
    --button-scale: 0.9;
  }

  &:hover {
    --button-background-color-alpha: 0.75;
  }
}

.o-button--solid.o-button--secondary {
  --button-background-color: var(--color-green);
}

.o-button__icon {
  background: currentcolor;
  display: block;
  height: 1em;
  width: 1em;
}
