.o-divider {
  --divider-item-animation-delay: 0;
  --divider-item-animation-duration: 0;

  display: flex;
  gap: 0.25rem;
  position: relative;
  width: fit-content;
}

.o-divider__item {
  animation: dividerItemBackground calc(var(--divider-item-animation-duration) * 1s) linear infinite calc(var(--divider-item-animation-delay) * 1s);
  aspect-ratio: 1;
  background: rgb(var(--color-blue));
  border-radius: 50%;
  width: 1rem;
}

@keyframes dividerItemBackground {
  0% {
    background-color: rgb(var(--color-blue));
  }

  50% {
    background-color: rgb(var(--color-green));
  }

  100% {
    background-color: rgb(var(--color-blue));
  }
}
