.o-image {
  display: block;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.o-image--rounded-full {
  border-radius: 9999rem;
}

.o-image--rounded {
  border-radius: 0.5rem;
}

.o-image--square {
  aspect-ratio: 1;
}
