:root {
  --color-black: 0, 0, 0;
  --color-black-wash: 20, 27, 31;
  --color-gray-dark: 51, 68, 77;
  --color-gray-light: 194, 207, 214;
  --color-white: 255, 255, 255;
  --color-white-wash: 224, 231, 235;

  --color-blue-dark: 20, 129, 184;
  --color-blue-light: 71, 180, 235;
  --color-green-dark: 61, 143, 61;
  --color-green-light: 112, 194, 112;
  --color-orange-dark: 223, 112, 32;
  --color-orange-light: 229, 140, 77;
  --color-red: 204, 51, 51;

  // themed colors
  --color-background: var(--color-black-wash);
  --color-blue: var(--color-blue-light);
  --color-green: var(--color-green-light);
  --color-orange: var(--color-orange-light);
  --color-primary: var(--color-white-wash);

  &:has(body[data-theme='light']) {
    --color-background: var(--color-white-wash);
    --color-blue: var(--color-blue-dark);
    --color-green: var(--color-green-dark);
    --color-orange: var(--color-orange-dark);
    --color-primary: var(--color-black-wash);
  }
}
