$pixel-to-rem: 0.0625rem;
$width-content-max: 67.5rem;

$color-black: #000;
$color-white: #fff;
$color-grey-light: #C6C3C1;
$color-grey-dark: #666;
$color-grey-darker: #444;
$color-grey-darkest: #222;

$font-primary: 'JetBrains Mono', monospace;

$font-primary-weight-light: 300;
$font-primary-weight-regular: 400;
$font-primary-weight-medium: 500;
$font-primary-weight-semibold: 600;
$font-primary-weight-bold: 700;

$z-index-cursor: 5;
$z-index-header: 3;
$z-index-main-loader: 2;
$z-index-nav: 4;
$z-index-footer: 1;
